# Firebase build and deployment files
/firebase-debug.log
/firebase-debug.*.log
.firebaserc
firebase-adminsdk.json

# Firebase Hosting
/firebase.json
*.cache
hosting/.cache

# Firebase Functions
/functions/node_modules/
/functions/.env
/functions/package-lock.json

# Firebase Emulators
/firebase-*.zip
/.firebase/
/emulator-ui/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python-related
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Dependency management
.venv/
Pipfile
Pipfile.lock
poetry.lock

# Environment files (local configs)
/.env.*
